{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="d-flex justify-content-center h-100">
        <div class="align-self-center h-100">
            <h2>Log in to Github Wrapper</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Submit</button>
                <a href="{% url 'register' %}">Are you new? Sign up!</a>
            </form>
        </div>
    </div>
{% endblock %}