{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>Add new Issue</h2>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success" id="add_issue_button">Add new Issue</button>
    </form>
{% endblock %}