{% extends 'base.html' %}

{% block extra_js %}
{% endblock %}


{% block content %}
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div><!-- /.modal -->
    {% if user.is_authenticated %}
        {% if not access %}
            <div class="alert alert-danger" id='access_token_alert' role="alert">
                Add your personal Github token . It allows you to use all functionalities.
            </div>

            <div style="text-align:center">
                <button class="btn btn-primary" id='access_token_button'
                        style="margin:5px;padding-left:15px;padding-right:15px"
                        onclick="location.href = 'add_personal_token.html';">
                    Add your personal token
                </button>
            </div>
        {% else %}
            <div style="text-align:right">
                <button class="btn btn-primary" style="margin:5px;padding-left:15px;padding-right:15px"
                        onclick="location.href = 'add_new_repo.html';">
                    Add repo
                </button>
            </div>

        {% endif %}
        <ul class="list-group">
            {% for item in object_list %}
                <li class="list-group-item"
                    style="padding-top:25px; padding-bottom:25px;margin:5px;background: #f7f7f7">
                    <div class="repo_name" onclick="location.href='{% url 'scrum_board' pk=item.pk %}'">
                        {{ item.name }}
                    </div>
                    <div>
                        <button class="btn" onclick="location.href ='{% url 'refresh_data' item.pk %}'"
                                data-toggle="tooltip" data-placement="bottom" title="Refresh">
                            <i class="fas fa-sync-alt"></i>
                        </button>

                        <button class="btn" onclick="location.href='{% url 'add_new_issue' pk=item.pk %}';"
                                data-toggle="tooltip" data-placement="bottom" title="New issue">
                            <i class="far fa-plus-square"></i>
                        </button>
                        <a class="btn open_modal" data-toggle="modal" data-url='{% url 'branches' pk=item.pk %}'
                                data-target="#modal">
                            <i class="fas fa-code-branch"></i>
                        </a>


                        <button class="btn" onclick="location.href ='{% url 'remove_repo' pk=item.pk %}'"
                                data-toggle="tooltip" data-placement="bottom" title="Remove">
                            <i class="fas fa-trash-alt"></i>
                        </button>

                    </div>

                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}

    <script>
    $(function () {
        let my_modal = $("#modal");
        $('.open_modal').on('click', function (event) {
            $('#modal').toggle();
            $(".modal-backdrop").toggle();
            $.ajax({
                url: $(this).attr("data-url"),
                success: function (data) {
                    my_modal.html(data)
                }
            })
        })
    });
    </script>
{% endblock %}
