


{% extends 'base.html' %}

{% block my_styles %}

    <style>
        .mt-2.container.p-2 {
            display: none
        }


        body {
            font-weight: 300;
            font-family: Arial;
            font-size: 20px;
        }

        .clear {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid black;
        }

        .card {
            background-color: lightgrey;
            min-height: 50px;
            margin: 10px;
            position: relative;
            overflow: hidden;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
            z-index: 2;
            word-wrap: break-word;
        }

        .card:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 1px;
        }

        .card h5 {
            font-size: 13px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            font-weight: 300;
        }
    </style>
{% endblock %}

{% block content1 %}
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    </div><!-- /.modal -->
    <h2 style="text-align: center; padding:20px"> Scrum board</h2>
    <div style="padding:10px; display: flex; overflow: auto;">


        {% for key, issue in issues.items %}
            <span class="p-0 col-sm" style="border-left:1px solid black;min-width: 200px!important;">
            <div class="clear">
                {{ key }}
            </div>
                {% for i in issue %}
                    <div class="card open_modal" data-toggle="modal" data-url='{% url 'issue_details' id=i.id %}'
                         data-target="#modal">
                <h5 style="word-wrap:break-word">{{ i.title }}</h5>

              </div>
                {% endfor %}
          </span>
        {% endfor %}
    </div>


    <script>
        $(function () {
            let my_modal = $("#modal");
            $('.open_modal').on('click', function (event) {
                $('#modal').toggle();
                $(".modal-backdrop").toggle();
                $.ajax({
                    url: $(this).attr("data-url"),
                    success: function (data) {
                        my_modal.html(data)
                    }
                })
            })
        });
    </script>
{% endblock %}
